body {
    font-family: roboto, sans-serif;
}

.banner {
    background-color: #1f2937;
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    text-align: left;
    margin-top: -20px;
    margin-left: -20px;
}

.container {
    color: aliceblue;
}

.banner-image-right {
    position: absolute;
    top: 100px;
    right: 50px;
}

.right-side {
    display: flex;
}

.banner-links {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}